@charset "UTF-8";

h1{
    background-color: green;
    width: 220px;
    border: 2px solid black;
    padding: 30px;
    margin: 50px;
}
h1:hover{
    background-color: red;
}
h1:active{
    background-color: yellow;
}
h1::after{
    content: 'oi'
}
